<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<h2> Members </h2>

<% @beer_club.memberships.each do |member| %>
	<li><%= link_to member.user.username, member.user %></li>
  
  <% end %>
  <% if current_user %>
	<% unless @beer_club.users.include? current_user%>
     <p><%= link_to 'Join', "/beer_clubs/join/#{@beer_club.id}", method: :post%></p> 
	 <%end%>
<% end %>


  <%= edit_and_destroy_buttons(@style) %>
<%= link_to 'Back', beer_clubs_path, class:'btn btn-primary' %>
