<p id="notice"><%= notice %></p>



<p>Number of ratings <%= @ratings.count %></p>
<div class="row">
  <div class="col-sm-4">
        <h2>Best beers</h2>
        <%= render 'beers/list', beers: @top_beers %>
  </div>
  <div class="col-sm-4">
        <h2>Best breweries</h2>
        <%= render 'breweries/list', breweries: @top_breweries%>
  </div>
  <div class="col-sm-4">
    <h2>Best styles</h2>
  </div>
</div>
<tbody>
<h2> Most recent ratings </h2>
<%= render 'list', ratings: @recent_ratings %>
<br>
  <% if current_user %>
<%= link_to 'new rating', new_rating_path, class:'btn btn-primary' %>
<% end %>
</br>