<p id="notice"><%= notice %></p>

<h2>List of ratings</h2>
<tbody>
<p> Number of ratings: <%= @ratings.count %> </p>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%=link_to rating, rating.beer %> <%= link_to rating.user.username, user_path(rating.user.id)%> </li>
 <% end %>
</ul>
</tbody>

<br>
  <% if current_user %>
<%= link_to 'new rating', new_rating_path%>
<% end %>
</br>